<div [@routerTransition]>
  <h1>
    <span class="icon has-text-success">
      <i class="fas fa-users"></i>
    </span> &nbsp;
    Clientes
  </h1>

  <hr />

  <div *ngIf="isLoading">
    <div>

      <h3>
        <span class="icon has-text-danger">
          <i class="fas fa-plus"></i>
        </span> &nbsp;
        Adicionar novo
      </h3>

      <form [formGroup]="addClientForm" (ngSubmit)="addClient()">
        <div class="field">
          <label for="name" class="label">Nome</label>
          <div class="control">
            <input class="input" placeholder="Nome" name="name" formControlName="name" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="lastname" class="label">Sobrenome</label>
          <div class="control">
            <input class="input" placeholder="Sobrenome" name="lastname" formControlName="lastname" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="rg" class="label">RG</label>
          <div class="control">
            <input class="input" placeholder="RG" name="rg" formControlName="rg" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="cpf" class="label">CPF</label>
          <div class="control">
            <input class="input" placeholder="CPF" name="cpf" formControlName="cpf" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="maritalStatus" class="label">Estado Civil</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="maritalStatus" formControlName="maritalStatus" value="Solteiro" /> Solteiro (a)
            </label>
            <label class="radio">
              <input type="radio" name="maritalStatus" formControlName="maritalStatus" value="Casado" /> Casado (a)
            </label>
            <label class="radio">
              <input type="radio" name="maritalStatus" formControlName="maritalStatus" value="Outro" /> Outro
            </label>
          </div>
        </div>

        <div class="field">
          <label for="sex" class="label">Sexo</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="sex" formControlName="sex" value="Feminino" /> Feminino
            </label>
            <label class="radio">
              <input type="radio" name="sex" formControlName="sex" value="Masculino" /> Masculino
            </label>
          </div>
        </div>

        <div class="field">
          <label for="city" class="label">Cidade</label>
          <div class="control">
            <input class="input" placeholder="Cidade" name="city" formControlName="city" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="address" class="label">Endereço</label>
          <div class="control">
            <input class="input" placeholder="Endereço" name="address" formControlName="address" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="state" class="label">Estado</label>
          <div class="control">
            <input class="input" placeholder="Estado" name="state" formControlName="state" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="phone" class="label">Telefone</label>
          <div class="control">
            <input class="input" placeholder="Telefone" name="phone" formControlName="phone" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="facebook" class="label">Facebook</label>
          <div class="control">
            <input class="input" placeholder="Facebook" name="facebook" formControlName="facebook" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="email" class="label">E-mail</label>
          <div class="control">
            <input class="input" placeholder="E-mail" name="email" formControlName="email" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="date" class="label">Data de nascimento</label>
          <div class="control">
            <p class="control has-icons-left">
              <input [owlDateTime]="date" class="input" [owlDateTimeTrigger]="date" name="date" formControlName="date">
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </p>
            <owl-date-time [pickerType]="'calendar'" [startView]="'year'" #date></owl-date-time>
          </div>
        </div>

        <div class="field">
          <label for="cpf" class="label">Observações</label>
          <div class="control">
            <textarea class="input"  name="description" formControlName="description"></textarea>
          </div>
        </div>

        <div class="field">
          <button type="submit" class="button is-success" name="submit" [disabled]="!addClientForm.valid">
            <i class="fa fa-plus"></i> &nbsp;
            Adicionar
          </button>
        </div>
      </form>
    </div>

    <hr>

    <div *ngIf="clients">
      <h3>
        <span class="icon has-text-warning">
          <i class="fas fa-users"></i>
        </span> &nbsp;
        Clientes ({{ clients.length }})
      </h3>

      <div [hidden]="!infoMsg.body" class="notification is-{{ infoMsg.type }}" role="alert">
        {{ infoMsg.body }}
      </div>

      <div class="table-flex">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th width="30%">Nome</th>
              <th width="20%">Telefone</th>
              <th align="center" width="30%">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="clients.length > 0">
            <tr *ngFor="let client of clients">
              <td>{{ client.name }}</td>
              <td align="center">{{ client.phone }}</td>
              <td align="center" class="{{ client.isOnGroup == 1 ? 'has-text-success': 'has-text-danger' }}">{{ client.isOnGroup == 1 ? 'Sim': 'Não' }}</td>
              <td align="center">
                <button class="button is-small is-warning" (click)="enableEditing(client)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="button is-small is-danger" (click)="deleteClient(client)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="isEditing">
            <tr>
              <td colspan="3">
                <form #form="ngForm" (ngSubmit)="editClient(client)">
                  <div class="field">
                    <label for="name" class="label">Nome</label>
                    <input class="input" type="text" name="name" placeholder="Name" [(ngModel)]="client.name" required>
                  </div>

                  <div class="field">
                    <label for="lastname" class="label">Sobrenome</label>
                    <div class="control">
                      <input class="input" placeholder="Sobrenome" name="lastname" [(ngModel)]="client.lastname" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="rg" class="label">RG</label>
                    <div class="control">
                      <input class="input" placeholder="RG" name="rg" [(ngModel)]="client.rg" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="cpf" class="label">CPF</label>
                    <div class="control">
                      <input class="input" placeholder="CPF" name="cpf" [(ngModel)]="client.cpf" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="maritalStatus" class="label">Estado Civil</label>
                    <div class="control">
                      <label class="radio">
                        <input type="radio" name="maritalStatus" [(ngModel)]="client.maritalStatus" value="Solteiro" /> Solteiro (a)
                      </label>
                      <label class="radio">
                        <input type="radio" name="maritalStatus" [(ngModel)]="client.maritalStatus" value="Casado" /> Casado (a)
                      </label>
                      <label class="radio">
                        <input type="radio" name="maritalStatus" [(ngModel)]="client.maritalStatus" value="Outro" /> Outro
                      </label>
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="sex" class="label">Sexo</label>
                    <div class="control">
                      <label class="radio">
                        <input type="radio" name="sex" [(ngModel)]="client.sex" value="Feminino" /> Feminino
                      </label>
                      <label class="radio">
                        <input type="radio" name="sex" [(ngModel)]="client.sex" value="Masculino" /> Masculino
                      </label>
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="city" class="label">Cidade</label>
                    <div class="control">
                      <input class="input" placeholder="Cidade" name="city" [(ngModel)]="client.city" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="address" class="label">Endereço</label>
                    <div class="control">
                      <input class="input" placeholder="Endereço" name="address" [(ngModel)]="client.address" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="state" class="label">Estado</label>
                    <div class="control">
                      <input class="input" placeholder="Estado" name="state" [(ngModel)]="client.state" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="phone" class="label">Telefone</label>
                    <div class="control">
                      <input class="input" placeholder="Telefone" name="phone" [(ngModel)]="client.phone" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="facebook" class="label">Facebook</label>
                    <div class="control">
                      <input class="input" placeholder="Facebook" name="facebook" [(ngModel)]="client.facebook" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="email" class="label">E-mail</label>
                    <div class="control">
                      <input class="input" placeholder="E-mail" name="email" [(ngModel)]="client.email" type="text" />
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="date" class="label">Data de nascimento</label>
                    <div class="control">
                      <p class="control has-icons-left">
                        <input class="input" [owlDateTime]="date" name="date" [owlDateTimeTrigger]="date" [(ngModel)]="client.date">

                        <span class="icon is-small is-left">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                      </p>
                      <owl-date-time [pickerType]="'calendar'" [startView]="'year'" #date></owl-date-time>
                    </div>
                  </div>
          
                  <div class="field">
                    <label for="cpf" class="label">Observações</label>
                    <div class="control">
                      <textarea class="input"  name="description" [(ngModel)]="client.description" ></textarea>
                    </div>
                  </div>
          
                  <br />

                  <div class="field">
                    <button class="button is-success" type="submit" [disabled]="!form.form.valid">
                      <i class="fa fa-floppy-o"></i> &nbsp; Salvar
                    </button>
                    <button class="button is-danger" (click)="cancelEditing()">
                      <i class="fa fa-times"></i> &nbsp; Cancelar
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading" class="loading">
    <img src="assets/images/load.gif" alt="Carregando" />
  </div>
</div>
