<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home" routerLinkActive="active-home-page">
      <img src="assets/images/logo.png" alt="Almanaque - Administração" />
    </a>

    <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
  </div>

  <ng-template #guest>
  </ng-template>

  <ng-template #authenticated>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/banners"  routerLinkActive="active-page">
          <span class="icon has-text-primary">
            <i class="fas fa-image"></i>
          </span> &nbsp; Banners
        </a>

        <a class="navbar-item" routerLink="/clientes" routerLinkActive="active-page">
          <span class="icon has-text-success">
            <i class="fas fa-users"></i>
          </span> &nbsp; Clientes
        </a>

        <a class="navbar-item" routerLink="/mensagens" routerLinkActive="active-page">
          <span class="icon has-text-danger">
            <i class="fas fa-comments"></i>
          </span> &nbsp; Mensagens
        </a>

        <a class="navbar-item" routerLink="/areas" routerLinkActive="active-page">
          <span class="icon has-text-warning">
            <i class="fas fa-puzzle-piece"></i>
          </span> &nbsp; Áreas
        </a>

        <a class="navbar-item" routerLink="/servicos" routerLinkActive="active-page">
          <span class="icon has-text-primary">
            <i class="fas fa-cogs"></i>
          </span> &nbsp; Serviços
        </a>

        <a class="navbar-item" routerLink="/produtos" routerLinkActive="active-page">
          <span class="icon has-text-success">
            <i class="fas fa-shopping-basket"></i>
          </span> &nbsp; Produtos
        </a>

        <!-- <a class="navbar-item" routerLink="/relatorios" routerLinkActive="active-page">
          <span class="icon has-text-danger">
            <i class="fas fa-chart-pie"></i>
          </span> &nbsp; Relatórios
        </a> -->

        <a class="navbar-item" routerLink="/logout" (click)="logout()">
          <span class="icon has-text-warning">
            <i class="fas fa-power-off"></i>
          </span> &nbsp; Logout
        </a>
      </div>
    </div>
  </ng-template>
</nav>
